@using EMS.Entities;
<h1>Member Details</h1>
<hr/>
<p> Id : @Model.Id</p>
<p> Name : @Model.FirstName @Model.LastName</p>
<p> Email : @Model.Email</p>
<p> Address : @Model.Address</p>

<hr/>
<a href="/Employees/Index">Back To Artist</a>